<div class="container">
    <table class="table">
        <tr>
            <th>Employee Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>AnnualSalary</th>
            <th>Date of Birth</th>
        </tr>
        <tr *ngFor='let employee of employees'>
            <td>
                <a [routerLink]="['/employees',employee.code]">{{employee.code}}
               </a>


            </td>
            <td>{{employee.name}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.annualSalary}}</td>
            <td>{{employee.dateOfBirth}}</td>
            <td><button class="btn-primary btn" (click)='deleteEmployee(employee.code)'>Delete</button></td>
        </tr>
    </table>
</div>
