<div class="container">
    <h1>Details of {{employee.name}}</h1>
    <table class="table">
        <tr>
            <td>Employee Code</td>
            <td>{{employee.code}}</td>
        </tr>
        <tr>
                <td>Name</td>
                <td>{{employee.name}}</td>
            </tr>
            <tr>
                    <td>Gender</td>
                    <td>{{employee.gender}}</td>
                </tr>
                <tr>
                        <td>Annual Salary</td>
                        <td>{{employee.annualSalary}}</td>
                    </tr>
                    <tr>
                            <td>Date of Birth</td>
                            <td>{{employee.dateOfBirth}}</td>
                        </tr>
                        <tr>
                        <td><button class=" btn btn-danger" (click)='navigate()'>Return back</button></td>
                    </tr>
    </table>
   
